* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* max-width: 375px; */
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Hanken Grotesk", "Gill Sans", "Gill Sans MT", "Trebuchet MS",
    sans-serif;
  font-size: 1.125rem;
  line-height: 2rem;
}
main {
  margin: 0.625rem 0;
  margin-top: -1.25rem;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  border-radius: 1.125rem 1.125rem;
  max-width: 23.4375rem;
}
.section1 {
  color: hsl(0, 0%, 100%);
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  padding: 2rem 1rem;
  border-radius: 1.125rem;
}
.section1 p,
.section1 h1 {
  text-align: center;
  margin-top: 1.5rem;
}
.section1 h1,
.span2 {
  color: hsl(0, 0%, 70%);
  font-weight: 800;
}
.section1 h1 {
  margin-top: 0;
  font-size: 1.5rem;
}
.span1 {
  font-size: 4rem;
  font-weight: 800;
}
.span2 {
  display: block;
}
.section1 .score p {
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 100%;
  width: 9.375rem;
  height: 9.375rem;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 2rem;
  padding-top: 2.5rem;
}
.section1 .remark p:first-child {
  font-size: 2rem;
}
.section1 .remark p:last-child {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.section2 {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  width: 100%;
  font-weight: 800;
}
.section1 h2 {
  font-size: 1rem;
}
.section2 .SegmentsContainer {
  margin-top: 1.2rem;
  /* padding: 1rem; */
}
.section2 .SegmentsContainer .segments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
  padding-left: 2rem;
  position: relative;
  border-radius: 8px;
  margin-bottom: 1rem;
}
img {
  margin-bottom: 0;
  position: absolute;
  left: 1rem;
  top: 35%;
  border-radius: 4px;
}
.section2 .SegmentsContainer .segments p:first-child {
  margin-left: 1rem;
}
.section2 .SegmentsContainer .segment1 {
  background-color: hsl(0, 100%, 96%);
}
.section2 .SegmentsContainer .segment1 p:first-child {
  color: hsl(0, 100%, 67%);
}
.section2 .SegmentsContainer .segment2 {
  background-color: hsl(0, 0%, 100%);
}
.section2 .SegmentsContainer .segment2 p:first-child {
  color: hsl(39, 100%, 56%);
}
.section2 .SegmentsContainer .segment3 {
  background-color: hsl(221, 100%, 96%);
}
.section2 .SegmentsContainer .segment3 p:first-child {
  color: hsl(166, 100%, 37%);
}
.section2 .SegmentsContainer .segment4 {
  background-color: hsl(241, 100%, 89%);
}
.section2 .SegmentsContainer .segment4 p:first-child {
  color: hsl(234, 85%, 45%);
}
.section2 .denominator {
  color: hsl(0, 0%, 70%);
}
.section2 a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(224, 30%, 27%);
  width: 100%;
  padding: 0.625rem 1.875rem;
  margin: auto;
  border-radius: 3.125rem;
  margin-top: 1.5rem;
}
.section2 a:hover {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
.attribution {
  font-size: 0.6875rem;
  text-align: center;
  color: hsl(0, 0%, 70%);
}
.attribution a {
  text-decoration: none;
  color: hsl(0, 100%, 67%);
}
@media (min-width: 62.5rem) {
  main {
    display: flex;
    flex-direction: row;
    margin: 0.625rem auto;
    border-radius: 1rem;
    border: none;
    padding: 0;
    max-width: 90rem;
    box-shadow: 5px 5px 20px hsl(241, 81%, 75%);
  }
  .section2 {
    font-size: 1rem;
  }
  .flexitem {
    width: 18.75rem;
    flex: 1;
  }
}
